<form action="/api/items" method="POST" id="additem">
    <div class="new_item">
        <div class="form-group">
            <label for="service" class="text-dark">Service Type</label>
            <input type="text" name="service" value="" >
        </div>
        <div class="form-group">
            <label for="status" class="text-dark">VM Status</label>
            <input type="text" name="status" value="" >
        </div>
        <div class="form-group">
           <label for="country" class="text-dark">Country</label>
           <input type="text" name="country" value="" >
       </div>
       <div class="form-group">
           <label for="dc" class="text-dark">Datacenter</label>
           <input type="text" name="dc" value="" >
       </div>
       <div class="form-group">
           <label for="project" class="text-dark">Project</label>
           <input type="text" name="project" value="" >
       </div>
       <div class="form-group">
           <label for="sitetype" class="text-dark">SiteType</label>
           <input type="text" name="sitetype" value="" >
       </div>
       <div class="form-group">
           <label for="environment" class="text-dark">Environment</label>
           <input type="text" name="environment" value="" >
       </div>
       <div class="form-group">
           <label for="cluster" class="text-dark">Cluster/Virtual Host/Standalone</label>
           <input type="text" name="cluster" value="" >
       </div>
       <div class="form-group">
           <label for="name" class="text-dark">VM_Name</label>
           <input type="text" name="name" value=""  >
       </div>
       <div class="form-group">
           <label for="hostname" class="text-dark">Host</label>
           <input type="text" name="hostname" value=""  >
       </div>
       <div class="form-group">
           <label for="os_ip" class="text-dark">OS_IP</label>
           <input type="text" name="os_ip" value="" >
       </div>
       <div class="form-group">
           <label for="os_sm" class="text-dark">OS_SM</label>
           <input type="text" name="os_sm" value="" >
       </div>
       <div class="form-group">
           <label for="os_gw" class="text-dark">OS_GW</label>
           <input type="text" name="os_gw" value="" >
       </div>
       <div class="form-group">
           <label for="vlan_name" class="text-dark">VLAN NAME</label>
           <input type="text" name="vlan_name" value=""  >
       </div>
       <div class="form-group">
           <label for="vlan_id" class="text-dark">VLAN ID</label>
           <input type="text" name="vlan_id" value="" >
       </div>
       <div class="form-group">
           <label for="jump_server" class="text-dark">Jump Server IP</label>
           <input type="text" name="jump_server" value="" >
       </div>
       <div class="form-group">
           <label for="Vcpu" class="text-dark">vCPU</label>
           <input type="text" name="Vcpu" value="" >
       </div>
       <div class="form-group">
           <label for="ram" class="text-dark">RAM_GB</label>
           <input type="text" name="ram" value=""  >
       </div>
       <div class="form-group">
           <label for="hdd" class="text-dark">HDD_GB</label>
           <input type="text" name="hdd" value="" >
       </div>
       <div class="form-group">
           <label for="os_type" class="text-dark">OS Type</label>
           <input type="text" name="os_type" value="" >
       </div>
       <div class="form-group">
           <label for="os_version class="text-dark">OS version</label>
           <input type="text" name="os_version" value="" >
       </div>
       <div class="form-group">
           <label for="servercategory" class="text-dark">Server Category</label>
           <input type="text" name="servercategory" value="">
       </div>
       <div class="form-group">
           <label for="application" class="text-dark">Application</label>
           <input type="text" name="application" value="">
       </div>
       <div class="form-group">
           <label for="application_team" class="text-dark">Application Owner/Team </label>
           <input type="text" name="application_team" value="">
       </div>
       <div class="form-group">
           <label for="vm_backup" class="text-dark">VM_Backup</label>
           <input type="text" name="vm_backup" value="" >
       </div>
       <div class="form-group">
           <label for="vm_build_date" class="text-dark">VM Commissioned Date</label>
           <input type="text" name="vm_build_date" value="" >
       </div>
       <div class="form-group">
           <label for="comm_ticket" class="text-dark">Commissioned Ticket</label>
           <input type="text" name="comm_ticket" value="" >
       </div>
       <div class="form-group">
           <label for="vm_decommised_date" class="text-dark">VM Decommissioned Date</label>
           <input type="text" name="vm_decommised_date" value="" >
       </div>
       <div class="form-group">
           <label for="decommised_ticket" class="text-dark">Decommissioned Ticket</label>
           <input type="text" name="decommised_ticket" value="" >
       </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
         </div>
     </div>
 </form>  